{% extends "base.html" %}

{% block content %}
<div x-data="borgitoryApp()" x-init="initApp()" class="flex h-screen bg-gray-100">
    <!-- Mobile sidebar overlay -->
    <div id="sidebar-overlay" class="fixed inset-0 bg-black bg-opacity-50 z-30 lg:hidden hidden" onclick="closeMobileSidebar()"></div>
    
    {% include "partials/navigation.html" %}

    <!-- Main Content Area -->
    <div class="flex-1 overflow-hidden lg:ml-0">
        <div class="h-full overflow-y-auto p-6">
            {% include "partials/repositories/tab.html" %}
            {% include "partials/backups/tab.html" %}
            {% include "partials/schedules/tab.html" %}
            {% include "partials/cloud_sync/tab.html" %}
            {% include "partials/archives/tab.html" %}
            {% include "partials/statistics/tab.html" %}
            {% include "partials/jobs/tab.html" %}
            {% include "partials/notifications/tab.html" %}
            {% include "partials/cleanup/tab.html" %}
            {% include "partials/repository_check/tab.html" %}
            {% include "partials/debug/tab.html" %}
        </div>
    </div>
</div>

<style>
.nav-item.active {
    @apply bg-blue-100 text-blue-700 border-r-2 border-blue-600;
}

.tab-content {
    min-height: 500px;
}
</style>

{% endblock %}